<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iceberg Burguers</title>
</head>
<body>
    <header>
        <img src="./assets/images/Logo.svg" alt="Iceberg Burguers">
    </header>
    <section class="content-search">
        <form action="/search">
            <label for="">Buscar categoria</label>
            <input type="text" name="name">
            <button type="submit">
                <img src="assets/images/search.svg" alt="buscar">
            </button>
        </form>
    </section>
    <main>
        <div:block th:each="data : ${dataProducts}" class="box-container">
            <form th:action="@{/cart}" th:object="${product}" method="post">
            	<img src="" alt="">
            	<div>
                    <h2 th:text="${data.title}"></h2>
                    <p>Mauris vel lectus convallis, pulvinar augue pharetra, facilisis tellus</p>
                    <div class="selectAmount">
                        <input type="number" th:field="*{amount}" min=0>
                    </div>
                    <div>
                        <span>R$ 15,00</span>
                        <input type="hidden" th:value="${data.price}" th:attr="name='price'"/>
                        <button type="submit">Quero pra já</button>
                    </div>
                    <input type="hidden" th:value="${data.title}" th:attr="name='title'"/>
	        </div>
            </form >
        </div:block>
    </main>
</body>
</html>